@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;
    /* border: 1px solid rgba(0, 0, 0, 0.958); */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #adcff19a;
    border-radius: 12px;
    }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:   #007dfc ;
  }
